/* ==========================================
   HEADER
========================================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.header-left h2 {
    font-size: 22px;
    font-weight: 600;
}

.header-left p {
    font-size: 14px;
    color: var(--text-light);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}