/* ==========================================
   HEADER
========================================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-left h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-primary);
}

.header-left p {
    font-size: 14px;
    color: var(--text-secondary);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-btn {
    font-size: 20px;
}